[Unit]
Description=Streaming Server
Before=homebridge.service
After=syslog.target network-online.target

[Service]
Type=simple
User=pi
ExecStartPre=/usr/bin/v4l2-ctl --set-fmt-video=width=1280,height=720,pixelformat=1 -p 24 -d /dev/video0
ExecStart=/usr/local/sbin/v4l2rtspserver -s -c -fH264 -I 0.0.0.0 -P 8555
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target
